<div class="change-container">
  <mat-form-field>
    <mat-label>Enter your new password</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="newPassword"/>
    <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria.label]="'Hide password'"
      [attr.aria.pressed]="hide()"
    >
      <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Repeat your new password</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="repeatNewPassword" />
    <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria.label]="'Hide password'"
      [attr.aria.pressed]="hide()"
    >
      <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Current password</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="currentPassword"/>
    <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria.label]="'Hide password'"
      [attr.aria.pressed]="hide()"
    >
      <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>
  <button class="save-btn" mat-flat-button color="primary" (click)="save()">TEST BUTTOn Changes</button>
  <button class="save-btn" mat-flat-button color="primary" (click)="save()">Save Changes</button>
</div>
