<div class="make-order">
  <header class="make-order-header">
    <h1>Make Order</h1>
  </header>

  <mat-stepper [orientation]="(screen.isDesktop$ | async) ? 'horizontal' : 'vertical'" linear>

    <mat-step [stepControl]="deliveryOptions.deliveryOptionsForm">
      <ng-template matStepLabel>Pricing Options</ng-template>
      <app-delivery-options
        #deliveryOptions
        [parcelDetails]="orderData.parcelDetails"
        [preferenceId]="orderData.preferenceId"
        [selectedWeightOption]="selectedWeightOption"
        [selectedSizeOption]="selectedSizeOption"
        [selectedPreferenceOption]="selectedPreferenceOption"
        (senderAddressButtonClicked)="handleSenderAddressButtonClick($event)">
      </app-delivery-options>
    </mat-step>

    <mat-step [stepControl]="senderAddress.addressForm">
      <ng-template matStepLabel>Sender Address</ng-template>
      <app-sender-address
        #senderAddress
        [senderAddress]="orderData.senderAddress"
        (recipientAddressButtonClicked)="handleRecipientAddressButtonClick($event.senderAddress, $event.savedAddresses)"
      ></app-sender-address>
    </mat-step>

    <mat-step [stepControl]="recipientAddress.addressForm">
      <ng-template matStepLabel>Recipient Address</ng-template>
      <app-recipient-address
        #recipientAddress
        [recipientAddress]="orderData.recipientAddress"
        [savedAddresses]="savedAddresses"
        (orderReviewButtonClicked)="handleOrderReviewButtonClick($event)"
      ></app-recipient-address>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Review Order</ng-template>
      <app-order-review
        [orderData]="orderData"
        [selectedWeightOption]="selectedWeightOption"
        [selectedSizeOption]="selectedSizeOption"
        [selectedPreferenceOption]="selectedPreferenceOption"
        (confirmOrderButtonClicked)="handleConfirmOrderButtonClick()"
      ></app-order-review>
    </mat-step>

  </mat-stepper>
</div>
