.filters {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 10px;
  padding: 10px 16px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  font-family: -apple-system, 'Segoe UI', Arial, sans-serif;
}

.filters .filter-item label {
  font-size: 13px;
  color: #444;
  margin: 0;
}

.filters .filter-item select {
  padding: 6px 14px;
  color: #333;
  background-color: #fff;
  border: 1px solid #b0b0b0;
}

.filters .filter-item input {
  width: 50px;
  padding: 5px;
  color: #333;
  font-size: 13px;
  border: 1px solid #b0b0b0;
  text-align: center;
  outline: none;
}

@media all and (max-width: 500px) {
  .filters {
    gap: 10px;
    flex-wrap: wrap;
  }
  .filters .filter-item input, .filters .filter-item select {
    font-size: 12px;

  }
  .filters .filter-item label {
    font-size: 10px;
  }
}
